
<div>
  <button id="addNewTodo" mat-raised-button (click)="openDialog()">Add New Todo</button>
</div>

<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="targetOwner" #input type="text" placeholder="Filter by owner"
                 (input)="targetOwner = $event.target.value">
        </mat-form-field>


        <mat-form-field>
          <input matInput id="targetBody" #input type="text" placeholder="Filter by body"
                 (input)="targetBody = $event.target.value">
        </mat-form-field>


        <mat-form-field>
          <input matInput id="targetCategory" #input type="search" placeholder="Search for category"
                 [(ngModel)]="targetCategory"/>
          <button mat-button id="categoryClearSearch" type="button" *ngIf="targetCategory" matSuffix mat-icon-button
                  aria-label="clear" (click)="targetCategory='';loadService()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit
        </button>

        <form>
          <label> Status:</label>
          <select name="statusOptions" id="targetStatus" #input (input)="targetStatus = $event.target.value">
            <option value="">Both</option>
            <option value="true">Complete</option>
            <option value="false">Incomplete</option>
          </select>
        </form>


        <div id="cardDiv" *ngIf="todos; else todosError">
          <mat-card #elem class="todo" [id]="todo.body" *ngFor="let todo of this.filterTodos(targetOwner, targetStatus, targetBody)">
              <mat-card-title id="ownerss">{{todo.owner}}
                <div [class]="todo.status">
                  <mat-icon>done_outline</mat-icon>
                </div>
              </mat-card-title>



            <mat-card-content class="cardContent">Body: {{todo.body}} </mat-card-content>
            <mat-card-content class="cardContent">Category:{{todo.category}} </mat-card-content>
            <mat-card-content class="cardContent">Complete?:{{todo.status}} </mat-card-content>
            </mat-card>
        </div>

        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
